html {
	height:100%;
	width:99%;
}

.container {
	position: center;
	border: 3px transparent black;
}
body {
	height:100%;
	width:100%;
	background-color:#87be37;
	margin:0;
	padding:0;
}
p {
	font-family: "Roboto Slab", serif;
	font-size:15px;
	text-indent:10px;
	height:75%;
	margin-left: 10%;
	margin-right: 10%;
	border: 0.2em solid #000000;
	padding-right:10px;
	padding-left:10px;
	padding-top:5px;
	padding-bottom:5px;
	background-color:#c1cc3c;
}
h {
	font-family: "Roboto Slab", serif;
	font-size:20px;
	font-style:underline;
	margin-left: 10%;
	margin-right: 10%;
}
t {
	font-family:"Helvetica";
	font-size:24px;
	padding:0 2em;
	margin-top:auto;
	margin-bottom:auto;
	vertical-align:center;
}
ft {
	font-family:"Helvetica";
	border: 2px solid black;
	width:100%;
	width:calc(100% - 4px);
	background-color: #2d994d;
	text-align:center;
	position:absolute;
	bottom: 0.0;
	left: 0;
}
.ribbon {
	display:inline-block;
}
.ribbon:after, .ribbon:before {
	margin-top:0.5em;
	content: "";
	float:left;
	border:1.5em solid #2d994d;
}
.ribbon:after {
	border-right-color:transparent;
}
.ribbon:before {
	border-left-color:transparent;
}
.ribbon a:link, .ribbon a:visited { 
	color:#000;
	text-decoration:none;
	float:left;
	height:3.5em;
	overflow:hidden;
	text-align:left;
	font-family:"Helvetica";
	font-size:16px;
	font-weight:bold;
	margin-bottom: 30px;
}
.ribbon span {
    background:#2d994d;
    display:inline-block;
    line-height:3em;
    padding:0 5em;
    width:100%;
    margin-top:0.5em;
    position:relative;

    -webkit-transition: background-color 0.2s, margin-top 0.2s;  /* Saf3.2+, Chrome */
    -moz-transition: background-color 0.2s, margin-top 0.2s;  /* FF4+ */
    -ms-transition: background-color 0.2s, margin-top 0.2s;  /* IE10 */
    -o-transition: background-color 0.2s, margin-top 0.2s;  /* Opera 10.5+ */
    transition: background-color 0.2s, margin-top 0.2s;
}

.ribbon a:hover span {
    background:#c1cc3c;
    margin-top:0;
}

.ribbon span:before {
    content: "";
    position:absolute;
    top:3em;
    left:0em;
    border-right:0.5em solid #9B8651;
    border-bottom:0.5em solid #2d994d;
}

.ribbon span:after {
    content: "";
    position:absolute;
    top:3em;
    right:0em;
    border-left:1.5em solid #9B8651;
    border-bottom:0.5em solid #d0e4fe;
}